.sidebar {
   position: relative;
   background-color: $main-color-light;
   padding: 10px;
   width: 50px;
   border-radius: 0 0 0 80%;
   transition: $trs;
   box-sizing: border-box;

   &:before {
      content: '';
      position: absolute;
      left: -10px;
      top: 0;
      width: 10px;
      height: 10px;
      background-color: $main-color-light;
      transition: $trs;
   }

   &:after {
      content: '';
      position: absolute;
      left: -10px;
      top: 0;
      width: 10px;
      height: 10px;
      border-radius: 0 10px 0 0 ;
      background-color: $background;
      transition: $trs;
   }

   .icon {
      cursor: pointer;
      margin: 0 auto;
      padding-bottom: 20px;

      .settings {
         width: 25px;
         height: 25px;
         transition: $trs;

         path {
            transition: $trs;
         }

         &.opened {
            width: 50px;
            height: 50px;
         }
      }
   }

   &.block {
      width: 140px;
   }
}
