@import '~@/assets/scss/common/variables';
@import '~@/assets/scss/common/mixins';

.fade-enter-active {
    animation: .3s fade;
}

.fade-leave-active {
    animation: .3s fade reverse;
}

.fade-enter {
    opacity: 1;
}

.fade-leave-to {
    opacity: 0;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.animate_fading-enter-active {
   animation: .15s animate_fading;
}

.animate_fading-leave-active {
  animation: .15s animate_fading reverse ;
}

.animate_fading-enter {
   opacity: 1;
}

.animate_fading-leave-to {
   opacity: 1;
}

@keyframes animate_fading {
   0% {
      opacity: 0.0;
   }
   25% {
      opacity: 0.1;
   }
   50% {
      opacity: 0.2;
   }
   75% {
      opacity: 0.3;
   }
   100% {
      opacity: 1;


   }
}
